.howitworks_section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.howitworks_scrollWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  padding: 0 10rem; // responsive side space

  @media (max-width: 768px) {
    flex-direction: column; // stack on mobile
    padding: 0 2rem; // smaller horizontal padding for mobile
  }
}


.howitworks_videoColumn {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;

  @media (max-width: 768px) {
    position: static;
    height: auto;
    padding: 1rem 0;
  }
}


.howitworks_video {
  max-height: 60vh;
  width: auto;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    width: 100%;
    max-height: none;
    height: auto;
  }
}

.howitworks_textColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;

  @media (max-width: 768px) {
    order: -1; // move text above the video on mobile
  }
}

.howitworks_content {
  height: 400vh; // 4 full screen steps
}


.howitworks_step {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.howitworks_title {
  font-size: 4rem;
  text-align: left;
  color: #FFF !important;
  margin-bottom: 2rem;
  line-height: 0.7;
  font-weight: 600;
}

.howitworks_step h2 {
  font-size: 2rem;
  text-align: left;
  color: #FFF !important;
  margin-bottom: 1rem;
}

.howitworks_step p {
  font-size: 1.1rem;
  text-align: left;
  max-width: 600px;
  color: #FFFFFF99 !important;
  line-height: 1.2;
}

.desktop-only {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

.howitworks_videoMobile video {
  width: 80%;
  max-width: 400px;
  padding-bottom: 5rem;
}