.start-right-now-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 0rem 7rem 0rem;
  gap: 1rem;
}

.start-right-now-title {
  color: #FFF !important;
  font-size: 3rem;
}

.start-right-now-subtitle {
  color: #FFFFFF99 !important;
  font-size: 1.5rem;
}


